<template>
  <div class="page-container">
    <md-speed-dial v-if="['small', 'xsmall'].includes($mq) && $route.name !== 'checkout'" class="md-fixed md-bottom-right mobile-cart">
      <md-badge class="md-accent" :md-content="cartItems.length">
        <md-speed-dial-target class="md-primary" @click="$router.push('/checkout')">
          <md-icon class="md-morph-initial">
            shopping_cart
          </md-icon>
          <md-icon class="md-morph-final">
            local_shipping
          </md-icon>
        </md-speed-dial-target>
      </md-badge>
    </md-speed-dial>
    <md-app md-mode="fixed">
      <md-app-toolbar class="md-primary">
        <md-button v-if="['small', 'xsmall'].includes($mq)" class="toolbar-item md-icon-button" @click="showNavigation = true">
          <md-icon>menu</md-icon>
        </md-button>
        <div class="toolbar-item app-logo">
          <nuxt-link class="md-title" to="/">
            <img src="/aws.png">
          </nuxt-link>
        </div>
        <div v-if="!['small', 'xsmall'].includes($mq)" class="toolbar-item md-toolbar-section-end">
          <md-button @click="$router.push('/checkout')">
            Checkout
          </md-button>
        </div>
      </md-app-toolbar>
      <md-app-drawer v-if="['small', 'xsmall'].includes($mq)" :md-active.sync="showNavigation" md-swipeable>
        <md-toolbar class="md-transparent" md-elevation="0">
          <span class="md-title">Categories</span>
        </md-toolbar>
        <md-list :md-expand-single="expandSingle">
          <md-list-item v-for="category in categoriesList" :key="category.id" :md-expand="!!category.children_data.length">
            <nuxt-link :to="'/category/' + category.id" class="md-list-item-text">
              {{ category.name }}
            </nuxt-link>
            <md-list v-if="category.children_data.length" slot="md-expand">
              <sub-menu :categories="category.children_data" />
            </md-list>
          </md-list-item>
        </md-list>
      </md-app-drawer>
      <md-app-drawer v-if="!['small', 'xsmall'].includes($mq)" md-permanent="clipped" class="md-layout-item md-size-20">
        <md-list :md-expand-single="expandSingle">
          <md-list-item v-for="category in categoriesList" :key="category.id" :md-expand="!!category.children_data.length">
            <nuxt-link :to="'/category/' + category.id" class="md-list-item-text">
              {{ category.name }}
            </nuxt-link>
            <md-list v-if="category.children_data.length" slot="md-expand">
              <sub-menu :categories="category.children_data" />
            </md-list>
          </md-list-item>
        </md-list>
      </md-app-drawer>
      <md-app-content>
        <slot />
      </md-app-content>
    </md-app>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'MainMenu',
  data () {
    return {
      expandSingle: false,
      showNavigation: false
    }
  },
  computed: {
    ...mapGetters({
      categoriesList: 'getCategoriesList',
      cartItems: 'getCartItems'
    })
  },
  watch: {
    '$route' () {
      this.showNavigation = false
    }
  }
}
</script>
