<template>
  <div>
    <md-list-item v-for="category in categories" :key="category.id" :md-expand="!!category.children_data.length" class="md-inset">
      <nuxt-link :to="'/category/' + category.id" class="md-list-item-text">
        {{ category.name }}
      </nuxt-link>
      <md-list v-if="category.children_data.length" slot="md-expand">
        <sub-menu :categories="category.children_data" />
      </md-list>
    </md-list-item>
  </div>
</template>
<script>
export default {
  name: 'SubMenu',
  props: {
    categories: {
      type: Array,
      required: true
    }
  }
}
</script>
