<template>
  <div class="item-container">
    <md-list-item>
      <div class="md-list-item-text">
        <span>{{ item.name }}</span>
        <span>{{ item.sku }}</span>
      </div>
      <div class="item-details">
        <span>{{ item.qty }} x ${{ item.price }}</span>
      </div>
      <!-- <md-button class="md-list-action">
        Remove
      </md-button> -->
    </md-list-item>
    <slot />
  </div>
</template>
<script>
export default {
  name: 'CartItem',
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>
