<template>
  <div class="methods-section">
    <div class="md-title">
      Payment Methods
    </div>
    <div class="methods-list">
      <md-radio
        v-for="(method, index) in paymentMethods"
        :key="index"
        v-model="selectedMethod"
        :value="method"
        class="md-accent"
        @change="methodSelected"
      >
        {{ method.title }}
      </md-radio>
    </div>
    <credit-card
      v-if="selectedMethod.code === 'ccc'"
      :number="cardNumber"
      :holder="cardName"
      :exp="exp"
      :cvc="cvc"
      @updateCardNumber="$emit('update:cardNumber', $event)"
      @updateCardName="$emit('update:cardName', $event)"
      @updateCardExp="$emit('update:exp', $event)"
      @updateCardCvc="$emit('update:cvc', $event)"
    />
  </div>
</template>
<script>
export default {
  name: 'BillingMethods',
  components: {
    CreditCard: () => import('./CreditCard')
  },
  props: {
    billingMethod: {
      type: Object,
      required: true
    },
    paymentMethods: {
      type: Array,
      required: true
    },
    cardNumber: {
      type: String,
      required: true
    },
    cardName: {
      type: String,
      required: true
    },
    exp: {
      type: String,
      required: true
    },
    cvc: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      methods: {},
      selectedMethod: false
    }
  },
  mounted () {
    this.selectedMethod = this.billingMethod
  },
  methods: {
    methodSelected (value) {
      this.$emit('method-selected', this.selectedMethod)
    }
  }
}
</script>
