<template>
  <div class="summary-section">
    <div class="md-title">
      Summary
    </div>
    <md-list>
      <md-list-item v-for="(totalItem, index) in totals.total_segments" :key="index">
        {{ totalItem.title }} <code>${{ totalItem.value }}</code>
      </md-list-item>
    </md-list>
  </div>
</template>
<script>
export default {
  name: 'BillingSummary',
  props: {
    totals: {
      type: Object,
      required: true
    }
  }
}
</script>
