<template>
  <div>
    <div class="md-layout md-gutter">
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="firstname">First Name</label>
          <md-input
            id="firstname"
            v-model="address.firstname"
            name="firstname"
            autocomplete="firstname"
            :disabled="sending"
          />
        </md-field>
      </div>

      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="lastname">Last Name</label>
          <md-input
            id="lastname"
            v-model="address.lastname"
            name="lastname"
            autocomplete="lastname"
            :disabled="sending"
          />
        </md-field>
      </div>
    </div>

    <div class="md-layout md-gutter">
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="email">Email</label>
          <md-input
            id="email"
            v-model="address.email"
            type="email"
            name="email"
            autocomplete="email"
            :disabled="sending"
          />
        </md-field>
      </div>
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="telephone">Telephone</label>
          <md-input
            id="telephone"
            v-model="address.telephone"
            type="text"
            name="telephone"
            autocomplete="telephone"
            :disabled="sending"
          />
        </md-field>
      </div>
    </div>

    <div class="md-layout md-gutter">
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="city">City</label>
          <md-input
            id="city"
            v-model="address.city"
            type="city"
            name="city"
            autocomplete="city"
            :disabled="sending"
          />
        </md-field>
      </div>
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="email">Telephone</label>
          <md-input
            id="telephone"
            v-model="address.telephone"
            type="text"
            name="telephone"
            autocomplete="telephone"
            :disabled="sending"
          />
        </md-field>
      </div>
    </div>

    <div class="md-layout md-gutter">
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="country_id">Country</label>
          <md-select
            id="country_id"
            v-model="address.country_id"
            name="country_id"
            md-dense
            :disabled="sending"
          >
            <md-option value="US">
              United States
            </md-option>
          </md-select>
        </md-field>
      </div>
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="region_code">Region</label>
          <md-select
            id="region_code"
            v-model="address.region_code"
            name="region_code"
            md-dense
            :disabled="sending"
          >
            <md-option value="NY">
              New York
            </md-option>
          </md-select>
        </md-field>
      </div>
    </div>

    <md-field>
      <label for="street">Street</label>
      <md-input
        id="street"
        v-model="address.street[0]"
        type="street"
        name="street"
        autocomplete="street"
        :disabled="sending"
      />
    </md-field>
    <div class="md-layout-item md-small-size-100">
      <md-divider class="section-divider" />
      <slot />
    </div>
  </div>
</template>
<script>
export default {
  name: 'Address',
  props: {
    address: {
      type: Object,
      required: true
    },
    sending: {
      type: Boolean,
      default () {
        return false
      }
    }
  }
}
</script>
