<template>
  <div>
    <md-card class="md-layout-item md-size-100 md-small-size-100">
      <md-card-header>
        <div class="md-title">
          Cart Details
        </div>
      </md-card-header>

      <md-card-content>
        <div v-if="cartItems.length" class="items-container">
          <md-list class="md-double-line">
            <cart-item v-for="(cartItem, index) in cartItems" :key="index" :item="cartItem">
              <md-divider v-if="cartItems[index + 1]" class="md-inset" />
            </cart-item>
          </md-list>
        </div>
        <div v-else>
          No Items in cart!
        </div>
      </md-card-content>
      <md-card-actions v-if="cartItems.length">
        <md-button class="md-raised md-accent" @click="confirmCart">
          Continue
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Cart',
  computed: {
    ...mapGetters({
      cartItems: 'getCartItems'
    })
  },
  methods: {
    confirmCart () {
      this.$emit('go-to-shipping')
    }
  }
}
</script>
