<template>
  <div class="container">
    <client-only>
      <md-steppers :md-active-step.sync="active" md-linear>
        <md-step id="first" md-label="Cart" :md-done.sync="first">
          <Cart @go-to-shipping="setDone('first', 'second')" />
        </md-step>

        <md-step id="second" md-label="Shipping" :md-error="secondStepError" :md-done.sync="second">
          <Shipping v-if="cartItems.length" @go-to-billing="setDone('second', 'third')" />
        </md-step>

        <md-step id="third" md-label="Billing" :md-done.sync="third">
          <Billing v-if="cartItems.length" @go-to-confirmation="setDone('third')" />
        </md-step>
      </md-steppers>
    </client-only>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Checkout',
  data: () => ({
    active: 'first',
    first: false,
    second: false,
    third: false,
    secondStepError: null
  }),
  computed: {
    ...mapGetters({
      cartItems: 'getCartItems'
    })
  },
  methods: {
    setDone (id, index) {
      this[id] = true

      this.secondStepError = null

      if (index) {
        this.active = index
      }
    },
    setError () {
      this.secondStepError = 'This is an error!'
    }
  }
}
</script>
