<template>
  <div>
    <md-divider />
    <md-list>
      <md-list-item class="status">
        Payment Status: <code :class="{ 'processing': charge.captured, 'pending': !charge.captured }">{{ chargeType }}</code>
      </md-list-item>
      <md-list-item>
        Amount: <code>${{ charge.amount_captured / 100 }}</code>
      </md-list-item>
      <md-list-item>
        Refunded: <code>${{ charge.amount_refunded / 100 }}</code>
      </md-list-item>
      <md-list-item>
        Payment Method: <code><img :src="getIcon(charge.payment_method_details.card.brand)" :alt="charge.payment_method_details.card.brand" class="payment-method"> - {{ charge.payment_method_details.card.last4 }}</code>
      </md-list-item>
    </md-list>
  </div>
</template>
<script>

export default {
  name: 'OrderCharge',
  props: {
    charge: {
      type: Object,
      required: true
    }
  },
  computed: {
    chargeType () {
      return this.charge.captured ? 'Captured' : 'Authorized'
    }
  },
  methods: {
    getIcon (payment) {
      const images = require.context('payment-icons/min/flat/', false, /\.svg$/)
      return images(`./${payment}.svg`)
    }
  }
}
</script>
<style lang="scss" scoped>
  .payment-method {
    max-width: 50px;
  }
</style>
