<template>
  <div>
    <md-card class="product-item">
      <md-card-media v-if="productImg">
        <img :src="productImg" :alt="product.name">
      </md-card-media>

      <md-card-header>
        <div class="md-title product-detail">
          {{ product.name }}
        </div>
        <div class="md-subhead product-detail">
          ${{ product.price }}
        </div>
      </md-card-header>

      <md-card-actions>
        <md-button @click="addToCart(product.sku)">
          Add to cart
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</template>
<script>
import find from 'lodash/find'

export default {
  name: 'ProductCard',
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  computed: {
    productImg () {
      const imgPath = find(this.product.custom_attributes, { attribute_code: 'small_image' })
      if (imgPath) {
        return this.$config.magento.url + this.$config.magento.magentoCatalogMediaPath + imgPath.value
      }
      return false
    }
  },
  methods: {
    addToCart (sku) {
      this.$store.dispatch('addProduct', { sku })
    }
  }
}
</script>
<style lang="scss" scoped>
  .md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }

  .md-card-example {
    .md-subhead {
      .md-icon {
        $size: 16px;

        width: $size;
        min-width: $size;
        height: $size;
        font-size: $size !important;
      }

      span {
        vertical-align: middle;
      }
    }

    .card-reservation {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .md-icon {
        margin: 8px;
      }
    }

    .md-button-group {
      display: flex;

      .md-button {
        min-width: 60px;
        border-radius: 2px;
      }
    }
  }
</style>
